<h1>Reset password for DwarStore account</h1>

<p>If you do not try reset password just ignore this email!</p>

<p>If you want set new password follow link : <%= link_to 'reset', edit_user_password_url(@user.reset_token) %></p>

<p>Thanks for joining and have a great day!</p>