<h1>Users list</h1>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>email</th>
			<th>rights</th>
			<th>ban?</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr id='user_<%= user.id %>'>
				<td><%= user.id %></td>
				<td><%= link_to user.email, 
					edit_user_path(user) %></td>
				<td><%= user.user_rights%></td>
				<% if user.super_user? %>
					<td>Can't be banned!</td>
				<% else %>
					<td class='unban_td' <%= raw append_hide_style(!user.banned)%>>
						<%= link_to 'Unban', user_path(id: user.id, 'user[banned]' => false), class: 'tiny button', remote: true, method: :patch %>
					</td>
					<td class='ban_td' <%= raw append_hide_style(user.banned)%>>
						<%= link_to 'Ban', user_path(id: user.id, 'user[banned]' => true), class: 'tiny button', remote: true, method: :patch %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>